{
    "fab4249b-f95d-411d-a017-7549df090a4f": 
    (
        cool_string: "thanks",
        handle_made_from_path: "amethyst.png",
        handle_made_from_uuid: "b78846aa-4c95-4af1-aab9-06f03374b53c"
    )
}